body {
  font-family: sans-serif;
}

#gameScreen {
  border: 1px solid black;
}

canvas.chairCards {
  border: 1px solid black;
  position: absolute;
  top: 150px;
  left: 380px;
  max-width: 150px;
}
#table {
  background: url("assets/images/background/BlackJackTablePicture.png");
  background-repeat: no-repeat;
  background-size: 790px 500px;
  background-position: 60px 150px;
}

#card {
  /*position: absolute;*/
}

body {
  /*
  background: url("assets/images/background/BlackJackTablePicture.png");
  background-repeat: no-repeat;
  */

  background-size: 800px 500px;
  background-position: 60px 150px;
}
